.footer {
    margin: 1.2rem;
}

.footer__title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}

.footer__subtitle {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}