.header__logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.header__logo::before {
    content: url(../img/icons/auto_awesome_black_24dp\ 1.png);
    align-items: center;
    display: flex;
    height: 1.2rem;
    margin-right: 8px;
    width: 1.2rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__item {
    text-decoration: none;
    display: none;
}

.header__item--active {
    display: flex;
}

.header__link {
    text-decoration: none;
    color: #464646;
}

@media screen and (min-width: 768px) {
    .header__link--active {
        font-weight: 700;
    }
}

@media screen and (min-width: 1200px) {
    .header__ul {
        display: flex;
        flex-direction: row;
    }

    .header__item {
        display: flex;
        margin-right: 1rem;
    }
}